<div id="style">
  <div class="row">
    <h2>Current Beers Available</h2>
  </div>
  <table class="table table-hover" id="keg-list">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Brand</th>
        <th scope="col">Price</th>
        <th scope="col">ABV</th>
        <th scope="col">Pints Left</th>
        <th scope="col">Edit Beer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let keg of childKegsList">
        <td>{{keg.name}}</td>
        <td>{{keg.brand}}</td>
        <td [class]="kegColorPrice(keg)">{{keg.price | currency}}</td>
        <td [class]="kegColorABV(keg)">{{keg.alcoholContent}}%</td>
        <td> <button (click)="editPintClicked(keg)"> - </button> {{keg.pints}}</td>
        <td><button (click)="editButtonClicked(keg)">Edit This Keg</button></td>
      </tr>
    </tbody>
  </table>
</div>
