<div style="text-align:center">
  <div class="jumbotron">
    <h1>Welcome to Our {{title}}!</h1>
  </div>
</div>
  <div class="container">
    <app-keg-list [childKegsList]="masterKegsList" (clickSender)="editKeg($event)"></app-keg-list>
    <button (click)="toggle()">{{buttonName}}</button>
    <div *ngIf="show === true">
      <app-add-keg (sendKeg)="addKeg($event)"></app-add-keg>
    </div>
    <app-edit-keg [childSelectedKeg]="selectedKeg" (clickedDone)="finishedEditing()" (clickedDelete)="deleteRecipe()"></app-edit-keg>
  </div>
