<div *ngIf="childSelectedKeg">
  <h3>{{childSelectedKeg.name}}</h3>
  <label>Enter Beer Name:</label>
  <input [(ngModel)]="childSelectedKeg.name">
  <h3>{{childSelectedKeg.brand}}</h3>
  <label>Enter Beer Brand:</label>
  <input [(ngModel)]="childSelectedKeg.brand">
  <h3>{{childSelectedKeg.price}}</h3>
  <label>Enter Beer Price:</label>
  <input [(ngModel)]="childSelectedKeg.price">
  <h3>{{childSelectedKeg.alcoholContent}}</h3>
  <label>Enter Beer Alcohol Content:</label>
  <input [(ngModel)]="childSelectedKeg.alcoholContent">
  <button type="submit" (click)="finishedEditing()">Done</button>
</div>
